.App {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.App > div {
  margin-right: 10px;
}
.todoList{
  min-width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #e8c88e;
  padding: 15px;
  height: max-content;

}
.Title {
  text-align: center;
}
.TodoJsonWrapper {
  background-color: #eedcdc;
  border: 1px solid green;
  max-height: 500px;
  overflow: auto;
  text-align: left;

}
.ToggleButton{
  padding: 10px;
  text-align: center;
}
.todoLister{

}
